:host {
  display: grid;
  grid-template-rows: auto 1fr;
  max-height: 100%;
  max-width: 100%;
  background: pink;
  border: 1px solid black;
  height: 70%;
  width: 50%;
}

.header {
  $gap: 12px;
  display: flex;
  justify-content: space-between;

  .title {
    display: flex;
    flex-flow: row nowrap;
    gap: $gap;
  }

  .actions {
    display: flex;
    flex-flow: row nowrap;
    gap: $gap;
  }
}
